@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Playfair+Display:wght@500&family=Roboto&display=swap');

head {
    
}
header {
    background-color: #415D43;
}
#nav_grid {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr;
}
.logo {
    width: 70px;
    padding-top: 3px;
}
#logo_link {
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
.header_title {
    margin-left: 20px;
    font-family: "Playfair Display", "Roboto", "Nunito", sans-serif;
    color: white;
    font-size: 35px;
    padding-right: 30px;
}
.nav_button {
    padding-top: 40px;
    font-size: 20px;
    font-family: "Nunito", "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    text-align: center;
}
#home-body-title {
    text-align: center;
    font-family: "Playfair Display", "Roboto", "Nunito", sans-serif;
    color: #415D43;
}
#home-grid {
    display: grid;
    row-gap: 5%;
    grid-template-columns: 50% 50%;
    grid-row: auto;
    margin-top: 50px;
}
.phoenixmesa {
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px #6f7364;
}
.phoenix5 {
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 1;
    width: 80%;
    height: 100%;
    border-radius: 8px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px #6f7364;
}
.phoenix2 {
    justify-self: center;
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px #6f7364;
}
.phoenix1 {
    justify-self: center;
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 80%;
    height: auto;
    border-radius: 8px;
    margin-right: 5%;
    margin-left: 5%;
    box-shadow: 5px 5px 5px #6f7364;
}
#footer_grid {
    display: grid;
    grid-template-columns: 80px 80px 1fr 1fr 2fr;
    margin-top: 125px;
    margin-bottom: 25px;
    margin-left: 50px;
    text-align: left;
}
.fa {
    padding: 20px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
  }
  /* Set a specific color for each brand */
  /* Facebook */
  .fa-facebook {
    background: #415D43;
    color: white;
  }
  /* Twitter */
  .fa-twitter {
    background: #415D43;
    color: white;
  }
  .fa-instagram {
    background: #415D43;
    color: white;
  }
.fa-facebook-f:before, .fa-facebook:before {
    font-size: 30px;
}
.fa-twitter:before {
    content: "\f099";
    font-size: 30px;
}
.fa-instagram:before {
    content: "\f16d";
    font-size: 30px;
}
#footer_title {
    font-family: "Playfair Display", "Roboto", "Nunito", sans-serif;
    color: #415D43;
    font-size: 20px;
}
.site-plan {
    margin-top: 20px;
    font-size: 20px;
    font-family: "Nunito", "Roboto", sans-serif;
    text-decoration: none;
    color: #415D43;
}
